


body {
    background-color: #1a1a1a;
    color: #ffffff;
    background-image: url("../image/Slide\ 16_9\ -\ 5.png");

    
}

.header {
    display: flex;
    padding: 20px;
    margin-top: 40px;
    justify-content: space-between;
    background-color: #1B293B;
    margin-left: 100px;
    margin-right: 100px;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.74))
}

.logo img {
    height: 100px; 
    margin-left: -35px;
    position: absolute;
    margin-top: -40px;
}

.cabecalho a {
    color: #cccccc;
    text-decoration: none;
    margin-left: 30px;
    padding: 10px;
}

.bt-prototipo {
    background-color: #228CDB; 
    color: #ffffff;
    padding: 15px;
    border-radius: 27px;
    border: 1px  #228CDB;
}
.main1 {
    padding: 50px 100px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.texto {
    margin-bottom: 40px;
}

.texto h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.texto p {
    font-size: 19px;
    color: #DBE4EE;
    font-size:large;
    
}


.title {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 450;
    padding-top: 70px;
    margin-top: -40px;
}
.funcionalidades{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 80px;
}
.blocos1 h2{
     margin-left: 85px;
     
}
.descricao1{
    background-color: #DBE4EE; 
    padding: 25px;
    border-radius: 90px;
    
}
.descricao1 p{
    color: black;
}

.blocos2 h2{
     margin-left: 140px;
     
}
.descricao2{
    background-color: #DBE4EE; 
    padding: 25px;
    border-radius: 90px;
    
}
.descricao2 p{
    color: black;
}
.blocos3 h2{
     margin-left: 85px;
     
}
.descricao3{
    background-color: #DBE4EE; 
    padding: 25px;
    border-radius: 90px;
    
}
.descricao3 p{
    color: black;
}
.blocos4 h2{
     margin-left: 80px;
     
}
.descricao4{
    background-color: #DBE4EE; 
    padding: 25px;
    border-radius: 90px;
    
}
.descricao4 p{
    color: black;
}


.footer{
    background-color: #DBE4EE;
    margin-top: -20px;
    display: flex;
    align-items: center;
    margin-left: 100px
}
.footer img{
    height: 275px;
    width: 410px;
}
.contato1{
    color: #1B293B;
    padding: 10px;
    padding-left: 20px;
    
}
.footer{
    margin-top: 30px;
    
}
.contato1 p{
    margin-left: 20px;
    margin-top: 11px;
    color: #1a1a1a;
}
/* TABLET */
@media (max-width: 992px) {

    .header {
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }
    .logo img {
        height: 80px;
        margin-top: -25px;
    }

    .cabecalho a {
        margin-left: 20px;
        font-size: 16px;
    }

    .main1 {
        padding: 40px 30px;
        max-width: 900px;
    }

    .texto h1 {
        font-size: 30px;
        text-align: left;
    }

    .funcionalidades {
        grid-template-columns: 1fr 1fr; 
        gap: 40px 20px;
    }

    
    .funcionalidades h2 {
        font-size: 19px;
        font-weight: 700;
        white-space: nowrap; 
        text-align: center;
        margin-bottom: 10px;
    }

    
    .funcionalidades div[class^="descricao"] {
        background-color: #DBE4EE;
        padding: 20px;
        border-radius: 90px;
        width: 90%;           
        margin: 0 auto;       
        text-align: center;
    }

    .funcionalidades div[class^="descricao"] p {
        color: #1a1a1a;
        font-size: 14px;
        line-height: 1.3;
    }

    .footer {
        margin-left: 0;
        margin-right: 0;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .footer img {
        width: 300px;
        height: auto;
        border-radius: 5px;
    }

    .contato1 {
        padding: 10px;
        text-align: left;
    }

    .contato1 h1 {
        color: #1B293B;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .contato1 p {
        color: #1a1a1a;
        font-size: 16px;
        margin-top: 5px;
    }
}

    






