


body {
    background-color: #1a1a1a;
    color: #ffffff;
    background-image: url("../image/Slide\ 16_9\ -\ 5.png");

    
}

.header {
    display: flex;
    padding: 20px;
    margin-top: 40px;
    justify-content: space-between;
    background-color: #1B293B;
    margin-left: 100px;
    margin-right: 100px;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.74))
}

.logo img {
    height: 100px; 
    margin-left: -35px;
    position: absolute;
    margin-top: -40px;
}

.cabecalho a {
    color: #cccccc;
    text-decoration: none;
    margin-left: 30px;
    padding: 10px;
}

.bt-prototipo {
    background-color: #228CDB; 
    color: #ffffff;
    padding: 15px;
    border-radius: 27px;
    border: 1px  #228CDB;
}
.main1 {
    padding: 50px 100px;
    max-width: 100vw;
    
    
}

.texto {
    margin-bottom: 40px;
    justify-self: center;
}

.texto h1 {
    font-size: 45px;
    margin-bottom: 15px;
}
.planos{
    display: flex;
    gap:150px;
    justify-self: center;
    

    
}

.blocos1{
    background-color: #1B293B;
    width: 350px;
    height: 600px;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.p1{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    margin-top: 40px;
}
.p2{
    margin-bottom: 10px;
    margin-top: 40px;
    padding-left: 20px;
}
.p3{
    margin-bottom: 10px;
    margin-top: 40px;
    padding-left: 20px;
}
.p4{
    margin-bottom: 10px;
    margin-top: 40px;
    padding-left: 20px;
}
.blocos1 h1{
    justify-self: center;
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 40px;
    
}
.blocos1 h2{
    justify-self: center;
    font-weight: 1;
    font-size: 24px;
    margin-bottom: 10px;
}
.blocos1 h3{
    justify-self: center;
    font-size: 36px;
    font-weight: 1;
    text-decoration:underline;
    text-decoration-thickness: 1px;
}
.blocos2 h1{
    justify-self: center;
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 40px;
    
}
.blocos2{
    background-color: #0A2463;
    width: 350px;
    height: 600px;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.blocos2 h2{
    justify-self: center;
    font-weight: 1;
    font-size: 24px;
    margin-bottom: 10px;
}
.blocos2 h3{
    justify-self: center;
    font-size: 36px;
    font-weight: 1;
    text-decoration:underline;
    text-decoration-thickness: 1px;
}
.blocos3{
    background-color: #8b7214;
    width: 350px;
    height: 600px;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.blocos3 h1{
    justify-self: center;
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 40px;
    
}
.blocos3 h2{
    justify-self: center;
    font-weight: 1;
    font-size: 24px;
    margin-bottom: 10px;
}
.blocos3 h3{
    justify-self: center;
    font-size: 36px;
    font-weight: 1;
    text-decoration:underline;
    text-decoration-thickness: 1px;
}


