


body {
    background-color: #1a1a1a;
    color: #ffffff;
    background-image: url("../image/Slide\ 16_9\ -\ 5.png");

    
}

.header {
    display: flex;
    padding: 20px;
    margin-top: 40px;
    justify-content: space-between;
    background-color: #1B293B;
    margin-left: 100px;
    margin-right: 100px;
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.74))
}

.logo img {
    height: 100px; 
    margin-left: -35px;
    position: absolute;
    margin-top: -40px;
}

.cabecalho a {
    color: #cccccc;
    text-decoration: none;
    margin-left: 30px;
    padding: 10px;
}

.bt-prototipo {
    background-color: #228CDB; 
    color: #ffffff;
    padding: 15px;
    border-radius: 27px;
    border: 1px  #228CDB;
}
.main1 {
    padding: 50px 100px;
    max-width: 100vw;
    
    
}

.texto {
    margin-bottom: 40px;
    justify-self: center;
}

.texto h1 {
    font-size: 45px;
    margin-bottom: 15px;
}
.planos{
    display: flex;
    gap:150px;
    justify-self: center;
    

    
}

.blocos1{
    background-color: #1B293B;
    width: 350px;
    height: 600px;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.p1{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    margin-top: 40px;
}
.p2{
    margin-bottom: 10px;
    margin-top: 40px;
    padding-left: 20px;
}
.p3{
    margin-bottom: 10px;
    margin-top: 40px;
    padding-left: 20px;
}
.p4{
    margin-bottom: 10px;
    margin-top: 40px;
    padding-left: 20px;
}
.blocos1 h1{
    justify-self: center;
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 40px;
    
}
.blocos1 h2{
    justify-self: center;
    font-weight: 1;
    font-size: 24px;
    margin-bottom: 10px;
}
.blocos1 h3{
    justify-self: center;
    font-size: 36px;
    font-weight: 1;
    text-decoration:underline;
    text-decoration-thickness: 1px;
}
.blocos2 h1{
    justify-self: center;
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 40px;
    
}
.blocos2{
    background-color: #0A2463;
    width: 350px;
    height: 600px;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.blocos2 h2{
    justify-self: center;
    font-weight: 1;
    font-size: 24px;
    margin-bottom: 10px;
}
.blocos2 h3{
    justify-self: center;
    font-size: 36px;
    font-weight: 1;
    text-decoration:underline;
    text-decoration-thickness: 1px;
}
.blocos3{
    background-image: url("../image/Rectangle\ 5.png");
    width: 350px;
    height: 600px;
    border: 1px;
    border-style: solid;
    border-color: white;
}
.blocos3 h1{
    justify-self: center;
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 40px;
    
}
.blocos3 h2{
    justify-self: center;
    font-weight: 1;
    font-size: 24px;
    margin-bottom: 10px;
}
.blocos3 h3{
    justify-self: center;
    font-size: 36px;
    font-weight: 1;
    text-decoration:underline;
    text-decoration-thickness: 1px;
}
@media (max-width: 768px) {

    .header {
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
    }
    .logo img {
        height: 80px;
        margin-top: -30px;
        padding-left: 10px;
    }

    .cabecalho a {
        margin-left: 15px;
        font-size: 15px;
    }

    .main1 {
        padding: 30px;
    }

    .texto h1 {
        text-align: center;
        font-size: 26px;
        margin-bottom: 40px;
    }
    
   .planos {
        display: grid;
        gap: 25px;
        max-width: 900px;
        margin: 0 auto;
        justify-items: start;
    }

    .p1 {
        margin-top: -10px;
    }
    .p2 {
        margin-top: 10px;
        padding-left: 20px;
        
    }
    .p3 {
        margin-top: 10px;
        padding-left: 20px;
    }
    .p4 {
        margin-top: 10px;
        padding-left: 20px;
    }
     .blocos3 >.descricao1 > .p2 {
        float: right;
        margin-top: -50px;
    }
    .blocos3 > .descricao1 > .p4 {
        float: right;
        margin-top: -75px;
        margin-right: -10px;
    }

    .blocos1 {           
        width: 280px;
        height: 93%;  
    }

    .blocos2 {
        width: 280px;
        height: 93%;  
        margin-left: -5%;
    }

    .blocos3 {
        height: 300px;
        width: 100%;
        grid-column: 1 / 3; 
        margin-top: -10%;
    }

    .blocos1 h1 {
        margin-top: -20px;
        font-size: 48px;
    }
    .blocos2 h1 {
        margin-top: -20px;
        font-size: 48px;
    }
    .blocos3 h1 {
        margin-top: -20px;
        font-size: 48px;
    }

    .planos > div {
        padding: 25px;
        border-radius: 15px;
        text-align: left;
    }

    .planos h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .planos h2 {
        font-size: 20px;
        margin-top: -22px;
        margin-bottom: -3px;
    }

    .planos h3 {
        font-size: 22px;
        margin-bottom: 15px;
        
    }

    .descricao1 {
        padding: 18px;
        border-radius: 20px;
        font-size: 15px;
        line-height: 1.45;
        
    }

    .planos p {
        font-size: 15px;
        margin-bottom: 6px;
        
    }
}
/* MOBILE */
@media (max-width: 375px){
    .cabecalho a {
    font-size: 12px;
    padding: 2px;
    }

    .logo img {
        height: 70px;
        width: 78.33px;
        padding-left: 10px;
    }
    .planos .blocos1{
        height: 250px;
        width: 150px;
    }
    .planos .blocos2{
        height: 250px;
        width: 150px;
    }
    .planos .blocos3{
        height: 220px;
        width: 200px;
    }
    .planos h1{

    }
    .planos h2{
        font-size: 10px;
    }
    .planos h3{
        font-size: 10px;
    }
    .descricao1 p{
        font-size: 10px;
    }
}